<div class="container main-container">
  <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
              Sobre Spa Dianish
            </div>
            <div class="card-body">            
              <p class="card-text">Empresa dedicada a la fisioterapia y masajes de relajacion</p>
             
            </div>
          </div>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header">
               Aviso de privacidad
              </div>
              <div class="card-body">            
                <p class="card-text">
                  Toda la informacion recopilada en su perfil, tal como correo electronico y numero celular, se utiliza unicamente con el fin 
                  de contactar con el cliente y confirmar o cancelar las citas, en caso de que hubiera algun inconveniente.
                  Ningun dato personal es proporcionado a terceros ni se utiliza con fines de propaganda ni publicidad.
                </p>
               
              </div>
            </div>
      </div>      
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                Contacto
                </div>
                <div class="card-body">            
                  <p class="card-text">
                    Puedes encontrarnos en el numero 5512312312, o en el correo dianish@spa.com
  
                  </p>
                 
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                Sobre el sitio Web y publicidad
                </div>
                <div class="card-body">            
                  <p class="card-text">
                   Este sitio web ha sido desarrollado por Epic Devs, si le interesa contratar para un desarrollo de una aplicacion web puede enviar un correo a epic.devs@gmail.com.
                    <br>
                   La publicidad que aparece en este sitio es proporcionada por Google Ads y es utilizada por el desarrollador del sitio para monetizar el mismo y no tiene nada que ver con el cliente (Spa Dianish) ni la publicidad es utilizada por ellos.
                   
                  </p>
                 
                </div>
              </div>
        </div>
    </div>
</div>