<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00134d;">
    <a class="navbar-brand" href="#">Spa Dianish</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/about">Sobre nosotros</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/services">Servicios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" *ngIf="_userService.loggedUser" [routerLink]="['/appointments','current']">Citas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administrar
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/catalogs','user']">Usuarios</a>
                    <a class="dropdown-item" [routerLink]="['/catalogs','therapist']">Masajistas</a>
                    <a class="dropdown-item" [routerLink]="['/catalogs','branchOffice']">Sucursales</a>
                    <a class="dropdown-item" [routerLink]="['/catalogs','serviceDay']">Horarios</a>
                    <a class="dropdown-item" [routerLink]="['/catalogs','service']">Servicios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Agenda</a>
                </div>
            </li>
        </ul>
        <button *ngIf="!_userService.loggedUser" routerLink='/login' class="btn btn-outline-success my-2 my-sm-0" type="button">Iniciar Sesion</button>
        <button *ngIf="!_userService.loggedUser" routerLink='/register' class="btn btn-outline-success my-2 my-sm-0" type="button">Registrarse</button>
        <h3 *ngIf="_userService.loggedUser"><span class="badge badge-secondary">Bienvenido {{_userService.loggedUser.name}}</span></h3>
        <button *ngIf="_userService.loggedUser" (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0" type="button">Salir </button>

    </div>
</nav>