<div class="container main-container">
    <h3>Selecciona los siguientes datos</h3>
    <form #f="ngForm" (ngSubmit)="makeAppointment(f)" ngNativeValidator>
        <div class="form-group">
            <label for="service">Servicio</label>
            <select name="service" [(ngModel)]="service" class="custom-select">
                <option *ngFor="let s of services" [value]="s._id">{{s.name}}</option>               
              </select>
        </div>
        <div class="form-group">
            <label for="branchOffice" data-toggle="tooltip" data-placement="top" title="Elige la sucursal donde te gustaria ser atendido">
              Sucursal
            </label>
            <select (change)="loadDays()" name="branchOffice" [(ngModel)]="branchOffice" class="custom-select">
            <option *ngFor="let bo of branchOffices" [value]="bo._id">{{bo.name}}</option>
            
          </select>
        </div>
        <div class="form-group" *ngIf="days.length>0">
            <h5>Esta sucursal solo atiende los siguientes dias:</h5>
            <ul class="list-group">
                <li *ngFor="let day of days" class="list-group-item">{{day}}</li>

            </ul>
        </div>

        <mat-form-field color="accent">
            <mat-label for="branchOffice" data-toggle="tooltip" data-placement="top" title="Elige la fecha. Considera que solo se atiende los dias anteriormente listados">
                Fecha
            </mat-label>
            <input matInput [matDatepicker]="myDatepicker" name="appointmentDate" [(ngModel)]="appointmentDate" (ngModelChange)="checkDate($event)">
            <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <div class="form-group">
            <label for="hour" data-toggle="tooltip" data-placement="top" title="Elige la hora">
              Horario
            </label>
            <select name="businessHour" [(ngModel)]="businessHour" class="custom-select">
            <option *ngFor="let h of hours" [value]="h">{{h}}</option>
            
          </select>
        </div>


        <button type="submit" class="btn btn-primary btn-block">Agendar</button>
    </form>
</div>